<h2>Welcome back!</h2>
<h3>Login below</h3>

<form action=<%=session_url%> method= "POST">
 <input type="hidden" name="authenticity_token"value="<%= form_authenticity_token %>">

<label>Enter your email:<br>
    <input type ="text" name= "user[email]">
</label> <br><br>
<label>Enter your password:<br>
    <input type ="text" name= "user[password]">
</label> <br><br>
<button type= "submit">Sign In</button>
</form>
