/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self


 */
 header {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
    font-size: 40px;
    font-family: 'courier new'; 
    background: rgb(0, 213, 255);
    padding: 20px;
    color: yellow;
    height: 60px;
 }

 form , h2, h3, label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

 }

 .logic {
   display: flex;
   font-size: 10px;
   flex-direction: column;
 }

 body {
    background-color: rgb(248, 248, 171);
 }

 button{
   font-family: "courier new";
   font-size: 20px;
   background-color: rgb(0, 213, 255);
   color: yellow;
 }
 #header {
    font-family: 'courier new';
    background-color: yellow;
    color: rgb(0, 213, 255);
 }
